.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 500px;
  z-index: 1000;
}

.notification.success {
  background-color: #4caf50; /* Verde */
}

.notification.error {
  background-color: #f44336; /* Vermelho */
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
