/* Rodapé */
.footer {
  background-color: #343a40; /* Cor de fundo mais elegante */
  color: white;
  padding: 20px 30px; /* Espaçamento interno */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Alinha conteúdo entre as extremidades */
  align-items: center; /* Centraliza verticalmente */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Leve sombra para destacar */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
}

.footer-right a {
  color: whitesmoke; /* Cor azul clara para links */
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-right a:hover {
  text-decoration: underline; /* Destaque ao passar o mouse */
}

.footer-right a:first-child {
  margin-left: 0; /* Remove margem no primeiro link */
}
