.layout-sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #343a40; /* Substituindo o azul por um cinza escuro */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Garante o espaçamento entre os itens */
  padding: 0 20px; /* Espaçamento interno para as extremidades */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adicionando uma leve sombra para destacar */
}

.text-topo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem; /* Espaço entre os links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline; /* Destaque ao passar o mouse */
}
